img {
	position: relative;
	height: 500px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.1s;
}

#peeled {
	display: none;
}

#unpeeled {
	height: 510px;
}

#shadow {
	background-color: rgba(0, 0, 0, 0.3);
	height: 50px;
	width: 400px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}

#text {
	font-family: "Comic Sans MS";
	font-size: 72px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

body {
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	background-color: rgb(153, 204, 255);
}
